  .card3 {
    width: 300px;

    padding: 20px;
    background-color: #242424;
    border: 2px solid white;
    border-radius: 10px;
    height: 400px;
  }
  .card3 button{
    width: 30%;
    margin: 10px;
    color: red;
    
  }
  
  